In [4]:
import pandas as pd

In [5]:
# df = pd.read_csv('mercedesbenz.csv')
# df.head()

In [6]:
df = pd.read_csv('mercedesbenz.csv',usecols =['X1','X2','X3','X4','X5','X6'])

In [7]:
df.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [11]:
for col in df.columns:
    print(col,':',len(df[col].unique()),'LABELS')

X1 : 27 LABELS
X2 : 44 LABELS
X3 : 7 LABELS
X4 : 4 LABELS
X5 : 29 LABELS
X6 : 12 LABELS

In [13]:
df.apply(lambda col: len(col.unique()))

X1    27
X2    44
X3     7
X4     4
X5    29
X6    12
dtype: int64

In [15]:
pd.get_dummies(df,drop_first=True).shape

(4209, 117)

In [17]:
#most frequent values in x2
df.X2.value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
Name: X2, dtype: int64

In [20]:
df.X3.value_counts().sort_values(ascending=False).head(5)

c    1942
f    1076
a     440
d     290
g     241
Name: X3, dtype: int64